body {
    margin: 0;
    padding: 0;
    background-color: #001cab;
}

.no-events {
    pointer-events: none;
}

main {
    margin: 0;
    padding: 0;
}

#hamburger {
    display: none;
}

#letsTalk {
    cursor: pointer;
}

#hamburger-icon {
    height: 1.5em;
    width: 1.5em;
}

nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    left: 95%;
    font-size: 2em;
    min-height: 100%;
    z-index: 1;
}

nav a {
    opacity: 35%;
    margin-top: 1em;
    transition: 0.5s opacity, 0.5s transform;
}

nav a:hover {
    opacity: 100%;
    transform: scale(1.25);
}

.headers {
    margin-top: 2em;
    margin-left: 2em;
    font-size: 4em;
    font-weight: 900;
    width: 50%;
    position: relative;
    z-index: -3;
}

#about-me a {
    text-decoration: none;
    font-weight: 900;
    font-size: 3em;
    margin-left: 2.75em;
}

#letsTalk {
    height: 75%;
    width: 75%;
    transition: 0.5s transform;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 6.5em;
}

#letsTalk:hover {
    transform: scale(1.1);
}

.desktop-hyperlink {
    display: inline;
}

#introAnim {
    background-color: #001fbc;
    margin: 0;
    padding: 6em;
    position: relative;
    z-index: -2;
}

#introAnim canvas {
    min-height: 100%;
    min-width: 100%;
}

header #header-img, header #project-img {
    max-height: 25rem;
    max-width: 25rem;
    object-fit: cover;
    border-radius: 1em;
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 5px 5px 24px -10px rgba(1,0,48,0.25); 
    box-shadow: 5px 5px 24px -10px rgba(1,0,48,0.25);
}

#keyboard {
    top: 540px;
    min-width: 100%;
    position: absolute;
    z-index: -2;
}

#keyboard canvas {
    max-width: 100%;
}

.hidden {
    display: none;
}

.not-visible {
    visibility: hidden;
}

h1, h2, h3, button, p, a {
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 0.001em;
    line-height: 1em;
}

p {
    font-size: 1.5em;
    margin-left: 5.5em;
    font-weight: 500;
}

#about-me {
    width: 50%;
    margin-bottom: 1em;
}

.slide-in-animation {
    animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 slideIn;
}

.slide-in-right-animation {
    animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 slideInRight;
}

.slide-in-right-animation-reverse {
    animation: 2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 slideInRight;
    animation-direction: reverse;
}

.zoom-in-animation {
    animation: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 zoomIn;
}

#project-header {
    margin-top: 1em;
    margin-bottom: 0;
}

#projects {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
    max-width: 80%;
    transition: 0.5s transform;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.project h2 {
    margin: 0;
    font-weight: 900;
    padding: 1em;
    font-size: 2em;
}

.project:hover {
    transform: scale(1.1);
}

.project a {
    font-weight: 900;
    text-decoration: none;
    background: none;
    border: 5px 5px white;
    border-style: solid;
    border-radius: 1em;
    transition: 0.5s transform;
    padding: 1.5em 3em;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.blur-animation {
    animation: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 blur;
    animation-fill-mode: forwards;
}

.blur-animation-reverse {
    animation: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 0s 1 blur;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.project a:hover {
    transform: translateY(-0.3em);
}

.project a:active {
    transform: scale(1.1);
}

#disgusting-world {
    background-image: url("../img/disgusting-world/disgusting-world-bg.png");
    border-radius: 1em;
}

#the-fakebook-monopoly {
    background-image: url("../img/the-fakebook-monopoly/img-1.png");
    background-size: cover;
    border-radius: 1em;
}

.project p {
    font-size: 1.2em;
}

.item {
    padding: 0 3em;
    margin: 0 3em;
}

footer {
    font-size: 1em;
    margin: 4em 0;
    opacity: 50%;
}

/* media queries */

@media (max-width: 476px) {
    nav {
        left: 87.5%;
        font-size: 1.5em;
    }
}

@media (min-width: 477px) and (max-width: 768px) {
    nav {
        left: 90%;
        font-size: 1.5em;
    }

    #introAnim canvas {
        transform: scale(2);
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    nav {
        left: 92.5%;
        font-size: 1.5em;
    }
}

@media (max-width: 992px) {
    #about-me {
        width: 100%;
    }

    p {
        font-size: 3em;
        margin: auto;
        max-width: 75%;
        padding-bottom: 1em;
    }
    
    .desktop-hyperlink {
        margin-right: 3.125em;
    }

    #hamburger {
        display: inline;
        margin-right: 3.125em;
    }

    .desktop-hyperlink {
        display: none;
    }

    .headers {
        font-size: 3em;
        margin-left: 0.9em;
    }

    #letsTalk {
        width: 50%;
        height: 50%;
        margin-left: 1.75em;
    }

    .project {
        flex-direction: column;
    }
    
    .project h2 {
        font-size: 3em;
    }

    .project p {
        text-align: center;
        font-size: 1.25em;
    }

    .project a {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }

    footer {
        font-size: 0.5em;
        font-weight: 900;
    }

    #the-fakebook-monopoly p {
        margin-bottom: 2.5em;
    }

    #introAnim canvas {
        transform: scale(5);
    }
}

@media (min-width: 1024px) and (max-width: 1119px) {
    #about-me {
        width: 100%;
    }

    p {
        font-size: 3em;
        margin: auto;
        max-width: 75%;
        padding-bottom: 1em;
    }
    
    .desktop-hyperlink {
        margin-right: 3em;
    }

    .headers {
        font-size: 3em;
        margin-left: 0.9em;
    }

    #letsTalk {
        width: 50%;
        height: 50%;
        margin-left: 1.75em;
    }
    
    .project h2 {
        font-size: 2.5em;
    }

    .project p {
        font-size: 1.05em;
    }

    .project a {
        margin-top: 2.5em;
        margin-bottom: 2.5em;
    }
}



/* animations */

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0.0);
    }

    100% {
        transform: scale(1.0);
    }
}

@keyframes blur {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(50px);
    }
}