body {
    margin: 0;
    padding: 0;
    background-color: #001cab;
}

h1, h2, h3, button, p, a {
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 0.001em;
    line-height: 1em;
}